*
{
    margin: 0%;
    padding: 0%;
}
.container
{
    width: 98%;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo
{
    text-align: center;
    font-size: 25px;
    
}
.logo-company div
{
    color: red;
    display: inline-block;
}
.logo-book
{
    font-size: 16px;
    color: gray;
    letter-spacing: 2px;
}

.icon
{
    
    padding: 10px;
}
.icon i
{
    border: 1px solid black;
    border-color: lightgray;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
}
.icon i:hover
{
    background-color: gray;
    color: white;
}
.searchicon input
{
    height: 48px;
    position: relative;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    
}
.searchicon i
{
    position: relative;
    right: 35px;
    top: 2px;
    padding: 15px;
    font-size: 20px;
    color: white;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: gray;
    
}
  
.menu ul 
{
    display: flex;
    position: absolute;
    left: 17%;
    padding: 20px;
    
}
ul li 
{
    padding: 22px;
    display: flex;
    align-items: center;
    list-style: none; 
}
a
{
    text-decoration: none;
    color: black;
    font-size: 15px;  
}
.menu a::after
{
    content: '';
    width:0%;
    position: relative;
    display: block;
    padding: 15px;
    transition: 0.5s ease;
}
.menu a:hover::after
{
    width: 65%;
    border-bottom:  2px solid gray;
    color: gray;
}
.menu a:hover
{
    color: gray;
}   
.bg img 
{
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    top: 92px;
}
.text
{
    position: absolute;
    padding: 20px 120px; 
    bottom: 15px;
    color: black;
    font-size: 65px;
}
.text2
{
    position: absolute;
    padding: 10px 120px; 
    bottom: -20px;
    color: gray;
    font-size: 20px;
}
.btn
{
    position: absolute;
    padding: 20px 120px; 
    bottom: -100px;
}
.btn1
{
    
    background-color: gray;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px;
    border-radius: 5px;
    
}
.btn1 a
{
    color: white;
    
   
}
.btn2
{
    background-color: white;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}
.btn2:hover
{
    background-color: gray;
    color: white;
    
}
.history
{
    width: 100%;
    margin: auto;
}

.round
{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    

}


.big1
{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: relative;
    top: 20px;
    
}

.small1
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FF7A5C;
    position: absolute;
    top: 60px;
    left: 80px;
    transition: all 0.5s ease;
    
}
.circle1:hover
{
    .big1
    {
        background-color: gray;
    }
    .small1
    {
        background-color: white;
        left: 60px;

    }
}
h1
{
   
    position: relative;
    top: 30px;
    font-size: 30px;
}
p
{
    color: gray;
    position: relative;
    top: 30px;
    left: -30px;
    padding: 10px;
    font-size: 15px;
}
.number
{
    position: relative;
    margin-top: 50px;
    top: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
}
.count
{
    font-size: 60px;
}
.publishing
{
    margin: auto;
}
.text-img
{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 15%;
}
.img img
{
    height: 500px;
    
    
}
.heading
{
    padding: 60px;
}
span
{
    color: red;
}
h2
{
    font-size: 50px;
    color: rgb(100, 100, 100);
    
}
.paragraph
{
    margin-top: 10px;
    font-family: sans-serif;
    color: gray;
    letter-spacing: 1px;
}
/* span
{
    position: relative;
} */
.button
{
    background-color: gray;
    display: inline-block;
    padding: 10px;
    position: relative;
    top: 50px;
    left: -20px;
    border-radius: 2px;
}
.button a
{
    color: white;
}
.books
{
   margin-top :10%;
  
}

.book
{
    font-size: 20px;
    text-align: center;
    position: relative;
    color:red ;
    
}
.new-release
{
    font-size: 40px;
    text-align: center;
}

.main-box
{
    margin: auto;
    position: relative;
    top: 50px;
}
.boxes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box1
{
    display: flex; 
    background-color:rgb(223, 222, 222); 
    width: 30%;
   
}
.box img
{
    height: 300px;
    width:180px;    
}
.con1
{
    padding: 30px;
}
h6
{
    font-size: 20px;
    color: red  ;
}
h3
{
    margin-top: 10px;
    font-size: 25px;
}
h4
{
    color: gray;
    font-size: 17px;
    margin-top: 10px;
}

.icon-round
{
    border-radius: 50%;
    background-color: white;
    padding:  15px;
    
    position: relative;
    left: -230px;
    background-color: aqua;
    /* display: none; */
}
.box1:hover
{
    /* background-color: gray;
    color: white;    */
}
.box2
{
    display: flex; 
    background-color:rgb(223, 222, 222); 
    width: 30%;
   
}
.box-two img
{
    height: 300px;
    width:180px;    
}
.con2
{
    padding:30px ;
}
.box3
{
    display: flex; 
    background-color:rgb(223, 222, 222); 
    width: 30%;
}
.box-three img
{
    height: 300px;
    width:180px;    
}
.con3
{
    padding: 30px;
}
.box4
{
    display: flex; 
    background-color:rgb(223, 222, 222); 
    width: 30%;
    margin-top: 30px;
}
.box-four img
{
    height: 300px;
    width:180px;    
}
.con4
{
    padding: 30px;
}
.box5
{
    display: flex; 
    background-color:rgb(223, 222, 222); 
    width: 30%;
    margin-top: 30px;
}
.box-five img
{
    height: 300px;
    width:180px;    
}
.con5
{
    padding: 30px;
}
.box6
{
    display: flex; 
    background-color:rgb(223, 222, 222); 
    width: 30%;
    margin-top: 30px;
}
.box-six img
{
    height: 300px;
    width:180px;    
}
.con6
{
    padding: 30px;
}
.testimonial
{
    background-color: gray;
    height: 350px;
    position: relative;
    top: 200px;
}
.heading
{
    text-align: center;
    position: relative;
    top: -10px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 3px;
}
.pr
{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: -40px;
    color: white;
}
.testimonial-box
{
    
    height: 200px;
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    
}
.testimonial-box1
{
    position: relative;
    top: 80px;
    background-color: antiquewhite;
    display: inline-block;
    padding: 30px;
    border-radius: 5px;
    
}
.testimonial-box2
{
    position: relative;
    top: 80px;
    background-color: antiquewhite;
    display: inline-block;
    padding: 30px;
    border-radius: 5px;
    
}
.testimonial-box3
{
    position: relative;
    top: 80px;
    background-color: antiquewhite;
    display: inline-block;
    padding: 30px;
    border-radius: 5px;
    
}
.profile
{
    display: flex;
    position: relative;
    top: 30px;
    
}
.profile1
{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.profile1 img
{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 5px;
    
}
.pro-text
{
    font-size: 18px;
    font-family: Arial;
    padding: 20px;
}
.about1
{
    color: gray;
    margin-top: 5px;
}
.profile2
{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.profile2 img
{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 5px;
    
}
.profile3
{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.profile3 img
{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 5px;
    
}
.main-blog
{
    position: relative;
    top: 200px;
    text-align: center;
    
}
.blog-text
{
    color: red;
    font-family: Arial;
    letter-spacing: 2px;
}
.recent-blog
{
    font-size: 50px;
    color: rgb(46, 46, 46);
    margin-top: 10px;
}
.blog-img1
{
    height: 230px;
    border-radius: 5px;
    background-color: #FF7A5C;
}
.blog-images
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.blog-img1 img
{
    height: 100%;
    border-radius: 5px;
}
.blog-text1
{
    border-radius: 50%;
    background-color: whitesmoke;
    height: 70px;
    width: 70px;
    padding: 20px;
    margin: auto;
    position: relative;
    top: -50px;
    transition: all 0.8s;

}
.blog-text2
{
    border-radius: 50%;
    background-color: whitesmoke;
    height: 70px;
    width: 70px;
    padding: 20px;
    margin: auto;
    position: relative;
    top: -50px;
    transition: all 0.8s;
}
.blog-text3
{
    border-radius: 50%;
    background-color: whitesmoke;
    height: 70px;
    width: 70px;
    padding: 20px;
    margin: auto;
    position: relative;
    top: -50px;
    transition: all 0.8s;

}
.blog-date
{
    font-size: 30px;
    color: gray;
}
.blog-month
{
    font-family: monospace;
    font-size: 20px;
}
.blog-year
{
    color: lightgray;
}

.blog-content1:hover
{
    .blog-text1
    {
        background-color: gray;
        color: white;
    }
    .blog-text2
    {
        background-color: gray;
        color: white;
    }
    .blog-text3
    {
        background-color: gray;
        color: white;
    }
    .blog-date
    {
        color: white;
    }
}
.blog-heading
{
    font-size: 22px;
    position: relative;
    top: -30px;
}
.blog-p
{
    color: gray;
    font-size: 18px;
    position: relative;
    top: -10px;
}
.footer
{
    background:linear-gradient( rgba(0, 0, 0, 0.9 ),rgba(0, 0, 0, 0.8));
    height: 300px;
    width: 100%;
    position: relative;
    top: 300px;
}
.footer-heading
{
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 70px;
}
.footer-row1
{
    font-size: 22px;
}
.row1
{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(206, 206, 206);
    line-height: 30px;
    position: relative;
    left: -15px;
}
.row1 i
{
    color: white;
    font-size: 30px;
    position: relative;
    top: 5px;
   
}
.footer-icons
{
    display: flex;
    justify-content: space-evenly;
}
.f-icon 
{
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50%;
    margin: auto;
    background-color: rgb(189, 187, 201);

}
.f-icon i
{
    font-size: 25px;
    position: relative;
    left: 3px;
    top: 2px;
}
.bottom
{
    height: 100px;
    width: 100%;
    background-color: black;
    margin: 100px auto;
}
.bottom-con
{
    padding: 38px;
    font-size: 20px;
    color: rgb(192, 185, 185);
}